.bar-container {
  margin-top: 80px;
  display: flex;
  z-index: 50;
}

.bar-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.main-bar {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
}

.cell {
  border: 2px solid rgb(224, 224, 244);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.cell-header {
  display: flex;
  height: 60px;
  align-items: center;
}

.cell-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.author {
  display: flex;
  flex-direction: column;
}

.author p {
  margin: 0;
}

.cell-body {
  display: flex;
  flex-direction: column;
}

.exercise-name {
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
}

.exercise {
  margin-bottom: 10px;
}

.exercise img {
  margin-right: 10px;
}

.exercise-period {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(224, 224, 244);  
}

.exercise-period-cell {
  margin-right: 10px;
}

.r1 {
  color:rgb(109, 114, 127);
  font-size: 15px;
}

.exercise-activity div {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.exercise-activity p {
  margin-left: 50px;
  color:darkgray;
}

.cell-footer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.cell-footer-likes {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.cell-footer-comment {
  display: flex;
}

.comment {
  border: none;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(240, 240, 240);
  flex: 1;
}

.right-bar {
  flex: 1;
}

.right-bar input {
  font-size: 20px;
}

.athletes-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 100px;
}

.athletes-container button {
  color:rgb(0, 170, 255);
  font-weight: bold;
  border: none;
  background-color: transparent;
  margin-right: 30px;
}

.athlete {
  display: flex;
  justify-content: space-between;
  border-bottom:2px solid rgb(109, 114, 127);
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.athlete-a {
  display: flex;
  align-items: center;
}

.athlete-a div {
  margin-left: 10px;
}